.approved-supplier-inner .col-6.col-a h3.heading svg {
    margin-right: 15px;
}

.approved-supplier-inner {
    padding: 50px 0px;

    .col-6.col-a{
        .heading{
            display: flex;
            align-items: center;
            font-size: 36px;
            @media (max-width: $mobile){
                &{
                    font-size: 28px;
                }
            }
        }
    }

    .col-6{
        @media (max-width: $mobile){
            &{
                width: 100%;
            }
        }

        .wysiwyg-content{

            @media (max-width: $mobile){
                &{
                    margin-top:16px;
                }
            }
        }

        h3.heading svg{
            @media (max-width: $tablet){
                &{
                    width: 50;
                }
            }
            @media (max-width: $mobile){
                &{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }


    .col-12 {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0px;
    
        .suplier-item {
            width: 16.66%;
            padding: 12px;
            position: relative;
            transition: .3s;
            bottom: 0;

            @media (max-width: $tablet){
                &{
                    width: 25%;
                }
            }

            @media (max-width: $mobile){
                &{
                    width: 33.33%;
                }
            }
    
    
        
            .supplier-item-inner {
                background: #F8F8F8;
                padding: 16px;
                position: relative;

                @media (max-width: $mobile){
                    &{
                        padding: 8px;
                    }
                }
    
                
                .suplier-poster img {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    padding: 30px;
                    height: 150px;
                    object-fit: contain;

                    @media (max-width: $tablet){
                        &{
                            padding: 8px;
                            height:85px;
                        }
                    }

                    @media (max-width: $mobile){
                        &{
                            padding: 8px;
                            height:65px;
                        }
                    }
                }
                
                .suplier-poster {
                    /* padding: 15px; */
                    background: white;
                }
                
            }
            
        }
    
        
    }   
}

