.call-out-text {
    .heading {
        font-size: 36px;
        color: #263238;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.02em;
        margin: 40px 0px 40px 0px;
        border-left: 25px solid #0493B8;
        padding: 0px 0px 0px 65px;
    }
}