.cta-box {
    margin-top: 60px;

    .row {
        background-color:#F8F8F8;
        padding: 26px;
        .col-xl-7 {
            &.content {
                // float: left;
                font-size: 24px;
                font-weight: 600;
                color: $textColor;
                line-height: 140%;
                letter-spacing: -0.02em;
                font-family: 'CenturyGothicBold';
                padding-left: 25px;
            }
        }
        .col-xl-5 {
            &.cta-button {
                text-align: right;
                a {
                    &.btn {
                        background-color: $textColor;
                            color: #fff;
                            font-size: 18px;
                            line-height: 70px;
                            min-width: 175px;
                            margin-right: 30px;
                            font-family: 'CenturyGothicBold';
                            font-weight: 600;
                            padding: 0;
                            border-radius: 0;
                    }
                }
            }
        }
    }
}