section.general-cta.cta-two {
    margin-top: 200px;

    > svg {
        bottom: unset !important;
        top: 0 !important;
        transform: translatey(-47.5%);
    }

    .general-cta-wrapper {
        padding: 100px 0 100px 200px;
    }
    .general-cta-buttons-wrapper .wysiwyg-content {
        padding-left: 50px;

        p {
            font-size: 20px;
        }
    }

    h2.heading {
        margin-bottom: 20px;
    }
}
