.group-box-inner {

    .row {
        @media (max-width: $bigScreen){
            &{
                padding: 12px;
            }
        }
    }

    .col-12 {
        margin-bottom: 3em;
        @media (max-width: $bigScreen){
            &{
                margin-bottom: 40px;
            }
        }
        .heading {
            font-size: 42px;
            padding-bottom: 20px;
            @media (max-width: $tablet){
                font-size: 36px;
            }
            @media (max-width: $mobile){
                font-size: 28px;
            }
        }
        .wysiwyg-content {
            font-size: 20px;
            @media (max-width: $tablet){
                font-size: 18px;
            }
            @media (max-width: $mobile){
                font-size: 16px;
            }
        }
    }
    .col-6 {
        padding: 20px;
        @media (max-width: $bigScreen){
            &{
                padding: 10px;
            }
        }

        @media (max-width: $mobile){
            &{
                width: 100%;
            }
        }
        .group-box-content-main {
            border: 2px solid #E4E4E4;
            box-shadow: 0px 4px 12px rgba(152, 152, 152, 0.2);
            .group-box-content {
                padding: 36px;
                p {
                   font-size: 18px; 
                   @media (max-width: $mobile) {
                        font-size: 16px; 
                   }
                }
                .wysiwyg-content {
                    margin-top: 1em;
                    margin-bottom: 1.5em;
                }

                span {
                    border: 1px solid #0796BF;
                    padding: 5px 10px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 170%;
                /* or 27px */
                    color: #0796BF;

                    @media (max-width: $mobile){
                        &{
                            font-size: 14px;
                        }
                    }

                }

                .wysiwyg-content p{
                    @media (max-width: $mobile){
                        &{
                            font-size: 16px;
                        }
                    }
                }
                
            }

            .logo-list {
                background: #F8F8F8;
                padding: 36px;

                                
                img {
                    height: 56px;
                    margin-right: 10px;

                    @media (max-width: $bigScreen){
                        &{
                            height: 40px;
                        }
                    }
                }

            }
            
        }

        > img {
            width: 100%;
            height: 370px;
            object-fit: cover;

            @media (max-width: $bigScreen){
                &{
                    height: 265px;
                }
            }
        }
    }
    

    
}










