.container {
    @media (max-width: $smallLaptop){
        &{
        max-width: 1200px;
        }
    }
}

.container {

    .subheading span{
        @media (max-width: $bigScreen){
            &{
                font-size: 14px;
            }
        }

        @media (max-width: $mobile){
            &{
                font-size: 12px;
            }
        }
    }

    .heading{
        @media (max-width: $bigScreen){
            &{
                font-size: 36px;
            }
        }

        @media (max-width: $mobile){
            &{
                font-size: 28px;
            }
        }
    }
                
    .wysiwyg-content {
        p{
            @media (max-width: $bigScreen){
                &{
                    font-size: 16px;
                }
            }

            @media (max-width: $mobile){
                &{
                    font-size: 14px;
                }
            }

        }
    }
    a.main-button {
        @media (max-width: $bigScreen){
            &{
                font-size: 14px;
            }
        }
    }
}

.image-with-text-inner {

    .row {
        align-items: center;
        padding: 70px;

        @media (max-width: $bigScreen){
            &{
                padding: 40px 10px;
            }
        }

        .col-6.col-a img {
            width: 100%;
            padding-right: 30px;


            @media (max-width: $bigScreen){
                &{
                padding-right: 0px;
                }
            }
        }

        .col-6.col-a {

            @media (max-width: $bigScreen){
                &{
                    width: 40%;
                }
            }

            @media (max-width: $tablet){
                &{
                    width: 100%;
                }
            }
            
        }
        
        .col-6.col-b {

            @media (max-width: $bigScreen){
                &{
                    width: 60%;
                }
            }

            @media (max-width: $tablet){
                &{
                    width: 100%;
                    padding:10px !important;
                }
            }
            
        }

        .col-6.col-b {
            padding-left: 30px;

            .subheading span{
                @media (max-width: $bigScreen){
                    &{
                        font-size: 14px;
                    }
                }
            }

            

            .heading {
                width: 100%;
                max-width: 14em;
                margin-bottom: 25px;

                @media (max-width: $bigScreen){
                    &{
                        font-size: 36px;
                    }
                }

                @media (max-width: $tablet){
                    &{
                        max-width: 100%;
                    }
                }
            }
            
            .wysiwyg-content {
                width: 100%;
                max-width: 38em;

                @media (max-width: $tablet){
                    &{
                        max-width: 100%;
                    }
                }
                

                p{
                    @media (max-width: $bigScreen){
                        &{
                            font-size: 16px;
                        }
                    }
    
                }

                
               
            }
        }
    }
    
}

