section.image-with-icons{
    padding-top: 50px;
    padding-bottom: 140px;

    .image-with-icons-content{
        padding-left: 80px;
        padding-top: 20px;
        padding-bottom: 20px;

        .image-with-icons-wrapper{
            padding-top: 50px;
            margin-bottom: -70px;

            .row{
                margin-left: -50px;
                margin-right: -50px;

                div[class^="col-"]{
                    padding-bottom: 70px;
                    padding-left: 50px;
                    padding-right: 50px;
                }
    
                .icon-title{
                    margin-top: 30px;
                    margin-bottom: 20px;
                    font-size: 24px;
                    line-height: 110%;
                    letter-spacing: -0.02em;
                }
            }
        }
    }
}