section.information-with-video {
    padding-top: 150px;
    padding-bottom: 100px;

    .col-12:nth-child(1), .col-12:nth-child(2){
        

        @media (max-width: $tablet){
            &{
                width:50%;
            }
        }

        @media (max-width: $mobile){
            &{
                width:100%;
                text-align: center;
            }
        }

    }

    .col-12:nth-child(2){
        @media (max-width: $mobile){
            &{
                margin-top: 15px;
            }
        }
    }

    .container{
        padding: 20px 40px;
    }

    .information-with-video-wrapper {
        max-width: 1253px;
        margin: auto;
        @media (max-width: $smallLaptop) {
            .heading {
                font-size: 36px;
            }
        }
        @media (max-width: $mobile) {
            .heading {
                font-size: 28px;
            }
        }

        .information-with-video-video {
            margin-top: 75px;

            @media (max-width: $mobile){
                &{
                    height: 100%;
                }
            }

            img {
                width: 100%;
                object-fit: cover;
                
                @media (max-width: $mobile){
                    &{
                        height: 100%;
                    }
                }
            }

            .video-popup-trigger {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                svg {
                    margin-bottom: 31px;
                    cursor: pointer;
                }

                h4 {
                    font-weight: 700;
                    line-height: 170%;
                    color: white;
                    @media (max-width: $smallLaptop) {
                        font-size: 20px;
                    }
                    @media (max-width: $mobile) {
                        font-size: 18px;
                    }
                }
            }

            .embed-container {
                display: none;

                            
                iframe {
                    width: 100%;
                    height: 530px;
                }
            }

        }
    }

    .wysiwyg-content {
        padding-top: 38px;
    }
}