.information-content {
    margin-top: 44px;
    margin-bottom: 30px;
    .first-paragraph {
        color: $textColor;
        letter-spacing: -0.02em;

        b, strong{
            font-family: 'CenturyGothicBold';
        }

        p {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 170%;
            @media (max-width: $mobile){
                font-size: 14px;
            }
        }

        h2 {
            font-size: 36px;
            line-height: 120%;
        } 
        h3{
            font-size: 28px;
            line-height: 120%;
            margin-bottom: 30px;
        }
        h4{
            margin-bottom: 40px;
            font-size: 24px;
            line-height: 120%;
        }
    }
}