.list-points-text-inner {
    padding: 75px 10px 50px 10px;
    @media (max-width: $tablet){
        padding: 75px 10px 30px 10px;
    }
    @media (max-width: $mobile){
        padding: 75px 10px 10px 10px;
    }
    .col-6.col-a {
        @media (max-width: $bigScreen){
            &{
                width: 40%;
            }
        }
        @media (max-width: $tablet){
            &{
                width: 100%;
                padding-bottom: 20px;
            }
        }
        @media (max-width: $mobile){
            &{
                padding-bottom: 10px;
            }
        }
        .heading {
            font-size: 42px;
            @media (max-width: $tablet){
                font-size: 36px;
            }
            @media (max-width: $mobile){
                font-size: 28px;
            }
        }
    }
    
    .col-6.col-b {
        @media (max-width: $bigScreen){
            &{
                width: 60%;
            }
        }
        @media (max-width: $tablet){
            &{
                width: 100%;
            }
        }
        
    }

    .heading{
        @media (max-width: $tablet){
            &{
                margin-bottom:12px;
            }
        }
    }

    .wysiwyg-content {
        p {
            @media (max-width: $bigScreen){
                &{
                    font-size: 18px !important;
                }
            }
            @media (max-width: $tablet){
                &{
                    font-size: 16px !important;
                }
            }
            @media (max-width: $mobile){
                &{
                    font-size: 14px !important;
                }
            }
        }
        li {
            @media (max-width: $bigScreen){
                &{
                    font-size: 18px !important;
                }
            }
            @media (max-width: $tablet){
                &{
                    font-size: 16px !important;
                }
            }
            @media (max-width: $mobile){
                &{
                    font-size: 14px !important;
                }
            }
        }
    }
}