section.step-by-step {
    padding-top: 150px;
    padding-bottom: 250px;

    @media ( max-width: $smallLaptop ){
        padding-top: 120px;
        padding-bottom: 250px;
    }

    .heading{
        padding-right: 120px;
        font-size: 56px;
        @media (max-width: $bigScreen){
            &{
                font-size: 42px;
            }
        }

        @media (max-width: $mobile){
            &{
                font-size: 36px;
                padding: 0;
            }
        }
    }
    .wysiwyg-content{
        margin-top: 15px;
    }

    .step-by-step-wrapper{
        margin-top: 60px;

        &.has-step-parent{
            margin-top: 280px;
        }

        .step-by-steps {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            .step-item {
                position: relative;
                flex: 0 0 25%;

                svg {
                    position: absolute;
                    left: 100%;
                    transform: translateY(-100%) translateX(-50%);
                    top: 50%;
                    width: 185px;

                    @media (max-width: 1550px){
                        &{
                            width: 8em;
                        }
                    }

                    @media (max-width: $tablet){
                        &{
                            width: 4em;
                            top: 36%;
                        }
                    }
                }

                &.step-is-parent {
                    position: absolute;
                    transform: translateX(100%);

                    svg:first-of-type {
                        top: 50%;
                        transform: translateX(-22px) translateY(-19%);
                        right: 100%;
                        left: unset;
                    }

                    svg:last-of-type {
                        top: 50%;
                        transform: translateY(-20%) translateX(22px);
                        left: 100%;
                    }
                }

                &.step-2.step-is-parent {
                    left: 11.5%;
                    bottom: calc(100% + 40px);

                    @media (max-width: $bigScreen){
                        &{
                            left: 7.5%;
                        }
                    }

                    @media (max-width: $smallLaptop){
                        &{
                            left: 12.5%;
                        }
                    }

                    @media (max-width: $tablet){
                        &{
                            left: 3%;
                        }
                    }

                    @media (max-width: $mobile){
                        &{
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            bottom: 93%;
                        }
                    }

                    svg{
                        @media (max-width: $smallLaptop){
                            &{
                                width: 6em;
                            }
                        }

                        @media (max-width: $tablet){
                            &{
                                width: 4em;
                            }
                        }

                        @media (max-width: $tablet){
                            &{
                                width: 3.5em;
                            }
                        }
                    }
                }

                .step-item-image {
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(4px);
                    width: 150px;
                    height: 150px;
                    line-height: 150px;
                    border-radius: 50%;
                    margin: auto;
                    cursor: pointer;
                    transition: all 0.5s ease;

                    @media (max-width: $smallLaptop){
                        &{
                            width: 110px;
                            height: 110px;
                            line-height: 110px;
                        }
                    }

                    @media (max-width: 420px){
                        &{
                            width: 80px;
                            height: 80px;
                            line-height: 80px;
                        }
                    }


                    img {
                        transition: all 0.5s ease;
                        @media (max-width: $smallLaptop){
                            &{
                                width: 45%;
                            }
                        }
                        @media (max-width: 420px){
                            &{
                                width: 35%;
                            }
                        }
                    }

                    &:hover, &.active {
                        // background: #C2DA3D;

                        img {
                            filter: invert(999) brightness(9999);
                        }
                    }
                }
            }

            .step-item.step-1 {
                @media (max-width: $mobile){
                    &{
                        width: 50%;
                        flex: 0 0 50% !important;
                    }
                }

                svg{

                    @media (max-width: $mobile){
                        &{
                            width: 9em !important;
                        }
                    }

                    @media (max-width: 550px){
                        &{
                            width: 7em !important;
                        }
                    }

                    @media (max-width: 485px){
                        &{
                            width: 5em !important;
                        }
                    }

                    @media (max-width: 420px){
                        &{
                            width: 3.8em!important;
                        }
                    }

                }
                
            }
            
            .step-item.step-3 {
                @media (max-width: $mobile){
                    &{
                        flex: 0 0 50% !important;
                    }
                }

                svg{

                    @media (max-width: $mobile){
                        &{
                            width: 7em!important;
                            top: 9em!important;
                            left: -3.3em;
                            transform: rotate(90deg)!important;
                        }
                    }

                    @media (max-width: 485px){
                        &{
                            width: 5em!important;
                            left: -2.5em;
                        }
                    }

                }
                
            }
            
            .step-item.step-4 {
                @media (max-width: $mobile){
                    &{
                        flex: 0 0 100% !important;
                        margin-top: 4em;
                    }
                }

                svg{

                    @media (max-width: $mobile){
                        &{
                            width: 7em !important;
                            top: 14em !important;
                            left: 50% !important;
                            transform: translate(-50%, -50%) rotate(90deg) !important;
                        }
                    }

                    @media (max-width: 485px){
                        &{
                            width: 5em!important;
                        }
                    }


                }
                
            }
            
            .step-item.step-5 {
                @media (max-width: $mobile){
                    &{
                        flex: 0 0 100% !important;
                margin-top: 9em;
                    }
                }
                
            }

            .step-title{
                font-size: 20px;
                line-height: 170%;
                font-weight: 700;
                margin-top: 6px;
                @media (max-width: $smallLaptop) {
                    font-size: 18px;
                }
                @media (max-width: $mobile) {
                    font-size: 16px;
                }
            }
        } 
    }
}