section.testimonials-v2 {
    padding-top: 160px;
    padding-bottom: 150px;
    .testimonials-content {
        margin-top: 75px;
        @media (max-width: $mobile) {
            margin-top: 40px;
        }
        .testimonials-slider{
            button {
                &.slick-prev {
                    &.slick-arrow {
                        top: -100px;
                        right: 6%;
                        left: unset;
                        width: auto;
                        height: auto;
                        @media (max-width: $tablet) {
                            right: 8%;
                        }
                        @media (max-width: 820px) {
                            right: 10%;
                        }
                        @media (max-width: $mobile) {
                            // left: 0%;
                            // top: unset !important;
                            top: 115%;
                            bottom: -25%;
                            right: unset;
                        }
                        &:before {
                            color: #263238 !important;
                            display: none !important
                        }
                    }
                }
                &.slick-next {
                    &.slick-arrow {
                        top: -100px;
                        right: 0%;
                        width: auto;
                        height: auto;
                        @media (max-width: $mobile){
                            left: -58%;
                            // top: unset !important;
                            top: 115%;
                            bottom: -25%;
                        }
                        @media (max-width: 414px){
                            left: -45%;
                        }
                        @media (max-width: 375px){
                            left: -40%;
                        }
                        &:before {
                            color: #263238 !important;
                            display: none !important;
                        }
                    }
                }
            }
            .slick-list {
                margin: 0 -16px;
    
                .testimonial-item {
                    padding: 0 16px;

                    .testimonial-item-wrapper {
                        background-color: #F8F8F8;
                        padding: 41px 45px;

                        @media (max-width: $bigScreen){
                            &{
                                padding: 35px 25px;
                            }
                        }
                
                        .testimonial-item-image-name {
                            display: flex;
                            align-items: center;
                            margin-bottom: 25px;    
                
                            img {
                                width: 60px;
                                height: 60px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                
                            .testimonial-item-name {
                                padding-left: 20px;
                            }
                            
                            h4.testimony-name {
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 170%;
                                margin-bottom: 0;

                                @media (max-width: $bigScreen){
                                    &{
                                        font-size: 20px;
                                    }
                                }

                                @media (max-width: $mobile){
                                    &{
                                        font-size: 18px;
                                    }
                                }
                        
                            }
                            
                            p.testimony-position {
                                font-size: 16px;
                                margin-bottom: 0;
                                @media (max-width: $bigScreen){
                                    &{
                                        font-size: 14px;
                                    }
                                }

                                @media (max-width: $mobile){
                                    &{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        
                        .testimony-logo {
                            margin-top: 30px;
                
                            img {
                                height: 40px;
                                object-fit: contain;
                                max-width: 150px;

                                @media (max-width: $bigScreen){
                                    &{
                                       opacity: .5;
                                    }
                                }

                                @media (max-width: $mobile){
                                    &{
                                        max-width: 108px;   
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    } 
}








