section#find-a-branch{
    #branch-finder {
        padding: 30px 33px 27px;
        border-bottom: 1.5px solid #DFDFDF;

        @media (max-width: $smallLaptop){
            padding: 30px 20px 20px 24px;
        }

        @media (max-width: $tablet){
            padding: 30px 24px;
        }

        @media (max-width: $mobile){
            padding: 22px 15px;
        }
    }
    
    .branch-field-wrapper{
        input, select {
            border: 1px solid #DFDFDF;
            height: 58px;
            line-height: 58px;
            width: 100%;
            padding: 15px 20px;

            @media (max-width: $smallLaptop){
                height: 52px;
                padding: 14px 23px 13px;
                line-height: 52px;
                font-size: 16px;
            }

            @media ( max-width: $mobile ){
                height: 46px;
                font-size: 14px;
                line-height: 48px;
                padding: 12px 16px;
            }
        }

        select{
            @media ( max-width: $mobile ){
                margin-top: 13px;
            }
        }

        @media (max-width: $smallLaptop){
            select{
                padding-left: 18px;
            }
        }
    }
    
    #branch-finder-toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        z-index: 2;
        cursor: pointer;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    #branch-results {
        padding: 30px 33px 27px;
        max-height: 892px;

        @media (max-width: $tablet){
            padding: 30px 24px;
        }

        @media (max-width: $mobile){
            padding: 22px 15px;
        }

        .branch-results-heading{
            .heading {
                color: #263238;
                font-size: 28px;
                margin-right: 10px;

                @media (max-width: $smallLaptop){
                    font-size: 24px;
                }
            }
            .num-results {
                color: #9D9D9D;
                font-size: 20px;
                line-height: 110%;
                font-family: 'CenturyGothicBold';

                @media (max-width: $smallLaptop){
                    font-size: 18px;
                }
            }
        }

        .branch-results-items {
            margin-top: 35px;

            @media (max-width: $smallLaptop){
                margin-top: 30px;
            }

            .branch-results-item-wrapper {
                background-color: #F8F8F8;
                padding: 30px 22px;

                @media (max-width: $mobile){
                    > div{
                        flex-direction: column;
                    }
                }

                .branch-item-details {
                    padding-left: 43px;

                    @media (max-width: $mobile){
                        padding-left: 0px;
                        padding-top: 20px;
                    }

                    .branch-item-heading{
                        margin-bottom: 7px;

                        .heading {
                            color: #263238;
                            font-size: 24px;

                            @media (max-width: $smallLaptop){
                                font-size: 20px;
                            }
                        }

                        .distance {
                            color: #9D9D9D;
                            font-size: 20px;

                            @media (max-width: $smallLaptop){
                                font-size: 18px;
                            }
                            @media (max-width: $mobile){
                                font-size: 16px;
                            }
                        }
                    }

                    a {
                        color: #0796BF;
                        font-size: 18px;
                        line-height: 170%;
                        text-decoration: none;
                        margin-top: 6px;
                        display: inline-block;

                        @media (max-width: $smallLaptop){
                            font-size: 16px;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 27px;
                }

                .branch-item-image {
                    width: 200px;
                    flex: 0 0 200px;

                    @media (max-width: $tablet){
                        width: 100%;
                        flex: 0 0 100%;
                    }
                }
            }
        }

        .branch-result-list-details-toggle{
            cursor: pointer;
            color: #58595B;
            font-size: 18px;
            line-height: 170%;

            svg{
                margin-right: 20px;
            }
        }

        .branch-result-list-detail-wrapper{
            .heading {
                color: #263238;
                font-size: 28px;
            }

            a.main-button svg {
                margin-left: 0;
                margin-right: 22px;
            }
        }
        
        .branch-result-list-detailed {
            margin-top: 30px;
            margin-bottom: 35px;

            .branch-label {
                font-size: 18px;
                line-height: 170%;
                font-family: 'CenturyGothicBold';
                color: #263238;
                width: 120px;
                flex: 0 0 120px;
            }

            .branch-detail-text {
                max-width: 300px;
                font-size: 18px;
                line-height: 170%;
                margin-bottom: 15px;
            }
        }
    }
}

.custom-map {
    width: 100%;
    height: 100%;
    min-height: 1000px;
    // border: #ccc solid 1px;
    // margin: 20px 0;

    @media ( max-width: $tablet ){
        height: 745px;
        min-height: 1px;
    }

    @media ( max-width: $mobile ){
        height: 460px;
    }
}

// Fixes potential theme css conflict.
.custom-map img {
   max-width: inherit !important;
}