section.page-title{
    .page-title-wrapper{
        background-color: rgb(38,50,56);
    }
}

section#single-members{  
    padding-top: 90px;
    padding-bottom: 210px;

    .container{
        .row{

            .col-12.col-lg-4{
                @media (max-width: $tablet){
                    &{
                        width: 100%;
                    }
                }

                .single-members-details.top-position {

                    @media (max-width: $tablet){
                        &{
                            display: block !important;
                            text-align: center;
                        }
                    }
                    
                }
            }
            .col-12.col-lg-8{
                @media (max-width: $tablet){
                    &{
                        width: 100%;
                        margin-top: 20px;
                    }
                }

                .single-members-categories, .heading{

                    @media (max-width: $tablet){
                        &{
                            display: none !important;
                        }
                    }

                }
            }
        }
    }
    .member-list-col{

        .member-list-slider {
            margin-bottom: 2em;

            .members-item{
                .name {
                    font-family: 'Century Gothic';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 170%;
                    text-align: center;
                    color: #263238;
                }

                img{

                    @media (max-width: $tablet){
                        &{
                            max-width: 25em;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                   
                }
                
                .name {
                    font-family: 'Century Gothic';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    text-align: center;
                    color: #263238;
                    margin-bottom: 0;
                    margin-top: 1em;
                }
                
                p.position {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 170%;
                    text-align: center;
                    color: #263238;
                }
                
            }

            .owl-dots .owl-dot span {
                border-radius: 0;
                -ms-transform: rotate(20deg); /* IE 9 */
                transform: rotate(44deg);
                border: 3px solid #B1B1B1;
                background: none;
                width: 12px;
                height: 12px;
            }

            .owl-dots .owl-dot.active span {
                background: #0C96B2;
                border-color: #0C96B2;
            }
            
            
        }
    }
    
    .single-members-image {
        padding: 15px;
        padding-bottom: 50px;
        background: #F8F8F8;

        @media (max-width: $tablet){
            &{
                display: grid;
                grid-template-columns: 30% 70%;
                padding-bottom: 20px;
            }
        }

        @media (max-width: $tablet){
            &{
                display: grid;
                grid-template-columns: 100%;
                padding-bottom: 20px;
            }
        }

        .single-members-image-wrapper {
            background: white;
            padding: 50px 80px;
            text-align: center;
            margin-bottom: 35px;

            @media (max-width: $mobile){
                &{
                    padding:20px;
                }
            }
        }

        .members-website {
            margin-top: 27px;
            padding-left: 15px;

            h4 {
                font-size: 18px;
                line-height: 170%;
                font-weight: 600;
            }

            p, a {
                font-size: 18px;
                line-height: 170%;
                color: #263238;
                text-decoration: none;
            }
        }

        
        h4 b {
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 170%;
        /* identical to box height, or 31px */
            color: #263238;
            @media (max-width: $bigScreen){
                &{
                    font-size: 16px;
                }
            }
        }
        
        p.m-0 {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
        /* or 31px */
            color: #263238;
            width: 70%;

            @media (max-width: $bigScreen){
                &{
                    font-size: 16px;
                }
            }
        }
        
        .member-website, .member-phone, .member-email {
            display: flex;
            padding: 0px 20px;
        }
        
        h4{
            width: 30%;
            @media (max-width: $tablet){
                &{
                    width: 20%;
                }
            }

            @media (max-width: $mobile){
                &{
                    width: 5em;
                }
            }
        }
        
        .member-website {
            margin-top: 2em;
        }
    }

    .single-members-details{
        padding-left: 40px;

        @media (max-width: $tablet){
            &{
                padding:15px;
            }
        }

        .heading{
            margin-bottom: 30px;
        }
    }

    .member-map-col {
        padding-left: 40px;
        margin-top: 2em;
        margin-bottom: 3em;
        @media (max-width: $tablet){
            &{
                padding:15px;
            }
        }

        h3.members-col-title {
            font-family: "Century Gothic";
            font-weight: 700;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -.02em;
            color: #263238;
        }
    }
    


    .member-branches-col{
        padding-left: 40px;
        // margin-top: 2em;
        // height: 20em;

        @media (max-width: $tablet){
            &{
                padding:15px;
            }
        }

        h3.members-col-title {
            font-family: 'Century Gothic';
            font-weight: 700;
            font-size: 36px;
            line-height: 120%;
        /* or 43px */
            letter-spacing: -0.02em;
            color: #263238;
        }

        ul.tab-nav {
            display: flex;
            position: relative;
            padding-left: 0;
            list-style-type: none;
            border-bottom: 1px solid #A8ADAF;

            .tab {
                font-family: 'Century Gothic';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 170%;
                color: #26323863;
                margin-right: 1em;

                span {
                    font-family: 'Century Gothic';
                    position: relative;
                    cursor: pointer;

                    // :after {
                    //     content: "";
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: -8.5px;
                    //     display: block;
                    //     width: 100%;
                    //     height: 3px;
                    //     background: #0796BF;
                    // }
                }

                .content-holder{
                    position:absolute;
                    left:0;
                    right:0;
                    padding:10px;
                    display:none;
                    color:#666;

                    ul.member-branch-inner {
                        padding-left: 20px;
                        list-style-type: disc;
                        column-count: 2;
                        margin-top: 1em;
                    

                        li.branch-item {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            letter-spacing: -0.02em;
                            color: #000000;

                            p.item {
                                margin-bottom: 10px;

                                @media (max-width: $bigScreen){
                                    &{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                    
                    
                }
                
            }
            
            .tab.active {
                color: black;

                span:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -8.5px;
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: #0796BF;
                }
                
            }

            li.active .content-holder{
                display:block;
            }

            
        }
           
    }

    .member-other-images-col {
        padding-left: 40px;
        @media (max-width: $tablet){
            &{
                padding:15px;
            }
        }

        h3.members-col-title {
            font-family: "Century Gothic";
            font-weight: 700;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: -.02em;
            color: #263238;
        }

        .slider-items {
            padding-left: 0;
            list-style-type: none;
            margin-top: 2em;

            
            
            .slider-item {
                margin-bottom: 30px;

                img {
                    width: 100%;
                    height: 445px;
                    object-fit: cover;
                }
            }
            
            
        }
        
        
    }
    


    .members-info-blocks {
        margin-top: 125px;
        margin-left: -18px;
        margin-right: -18px;

        @media (max-width: $tablet){
            &{
               
                padding:10px;
            }
        }

        > div[class^="col-"] {
            padding: 18px;
        }

        .col-12.col-lg-4{

            @media (max-width: $tablet){
                &{
                    width: 33.33% !important;
                    padding:8px;
                }
            }

            @media (max-width: $mobile){
                &{
                    width: 100% !important;
                    padding:8px;
                }
            }
        }
        
        .members-block-border img {
            display: block;

            @media (max-width: $mobile){
                &{
                    width: 100%;
                }
            }

        }
        .members-block-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: all 0.5s ease;

            .members-block-item-wrapper {
                background: #F8F8F8;
                padding: 65px 45px 75px;
                flex: 1;
                transition: all 0.5s ease;

                @media (max-width: $tablet){
                    &{
                        padding: 45px 20px 45px;
                    }
                }
    
                .block-title {
                    margin-top: 32px;
                    margin-bottom: 23px;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 110%;
                    font-family: 'CenturyGothicBold';
                    letter-spacing: -0.02em;

                    @media (max-width: $tablet){
                        &{
                            font-size: 28px;
                        }
                    }

                }
                
                .block-title, .wysiwyg-content, .wysiwyg-content *, svg path{
                    transition: all 0.5s ease;
                }

                img{
                    @media (max-width: $tablet){
                        &{
                            width: 70px;
                        }
                    }   
                }
                a{
                    margin-top: 23px;
                    display: inline-block;
                    color: #263238;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 170%;
                    font-family: 'CenturyGothicBold';
                    text-decoration: none;
                    transition: all 0.5s ease;
                    
                    @media (max-width: $tablet){
                        &{
                            font-size: 16px;
                        }
                    }
                        

    
                    svg{
                        margin-left: 18px;
    
                        path{
                            stroke: #263238;
                        }
                    }
                }
            }

            &:hover{
                transform: translateY(-40px);

                .members-block-item-wrapper {
                    background: #263238;

                    
                    

                    .block-title, .wysiwyg-content, .wysiwyg-content *, a{
                        color: white;
                    }

                    a svg{
                        path{
                            stroke: white;
                        }
                    }
                }
            }
        }
    }

    #custom-map-render{
        .custom-map{
            min-height: 400px;
        }
    }
}



.member-branches-tabs-wrapper{
    margin-top: 28px;

    .member-branches-tabs {
        border-bottom: 1px solid #A8ADAF;
        display: flex;
        gap: 40px;

        .member-tab {
            font-style: normal;
            font-size: 24px;
            line-height: 170%;
            color: #263238;
            opacity: .4;
            font-family: 'CenturyGothicBold';
            position: relative;
            cursor: pointer;
            padding: 6px 0;

            &.active, &:hover {
                opacity: 1;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background-color: #0796BF;
                    transform: translateY(50%);
                }
            }
        }
    }
    .member-branches-content {
        padding-top: 40px;

        .member-branch-content{
            &:not(.active) {
                display: none;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
    
                li {
                    flex: 0 0 50%;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    letter-spacing: -0.02em;
                    color: #000000;
                    font-family: 'CenturyGothic';
                    padding-right: 50px;

                    @media (max-width: $mobile){
                        flex: 0 0 100%;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.custom-map{
    .heading {
        font-size: 20px;
    }
}