section.state-header{
    img {
        display: block;
        width: 100%;
        object-fit: cover;
        max-height: 350px;
    }
}

section.gemcell-branches{
    padding-top: 82px;
    padding-bottom: 85px;

    .state-heading.heading{
        margin-bottom: 40px;
        color: #263238;
        
        span {
            color: #90989B;
            background: unset;
            -webkit-text-fill-color: unset;
        }
    }

    .gemcell-member-details {
        background-color: #F8F8F8;
        padding: 17px 29px 19px 13px;

        .gemcell-member-image {
            background: white;
            text-align: center;
            margin-bottom: 20px;
        }

        .gemcell-member-detail{
            h4 {
                color: #263238;
                font-weight: 700;
                font-size: 24px;
                line-height: 110%;
                letter-spacing: -0.02em;
                margin-bottom: 6px;
            }
            a {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 170%;
                color: #0796BF;
                text-decoration: none;
            }
        }
    }

    #custom-map-render{
        .custom-map{
            min-height: 400px;
        }
    }
}
